[project]
	description = Arduino programs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gustavomitt
[access "refs/for/refs/*"]
	read = group user/gustavomitt
	push = group user/gustavomitt
	label-Code-Review = -2..+2 group user/gustavomitt
	label-Verified = -1..+1 group user/gustavomitt
	rebase = group user/gustavomitt
	removeReviewer = group user/gustavomitt
	submit = group user/gustavomitt
[access "refs/heads/*"]
	read = group user/gustavomitt
	create = group user/gustavomitt
	push = +force group user/gustavomitt
	pushMerge = group user/gustavomitt
[access "refs/tags/*"]
	push = +force group user/gustavomitt
	pushTag = group user/gustavomitt
	pushSignedTag = group user/gustavomitt
